@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
:root {
  --secondary: rgb(107, 114, 128);
  --primary: rgb(17, 24, 39);
}
* {
  box-sizing: border-box;
}
.secondary {
  color: var(--secondary);
}
body {
  font-family: "Open Sans", sans-serif;
  color: var(--primary);
  font-size: 16px;
}
a {
  color: var(--primary);
  text-decoration: none;
}
h2 {
  margin: 0 0 15px;
}
.main-wrapper {
  min-height: 100vh;
  padding: 15px 0;
}
label {
  margin: 0 0 5px;
}
.form-item input {
  border: 1px solid #ddd;
  width: 100%;
  min-height: 30px;
  padding: 5px 10px;
}

.btn,
.actions a {
  padding: 3px 15px 5px;
  border: 0;
  cursor: pointer;
  display: inline-block;
  color: #fff;
  background-color: #000;
  border-radius: 5px;
  text-decoration: none;
  margin: 0 0 15px;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
.w-full {
  width: 100%;
}
.form-item {
  margin-bottom: 15px;
}
.box {
  padding: 15px;
  max-width: 700px;
  margin: 0 auto;
  background-color: #fff;
}
.head-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.table {
  margin: 0 auto;
  width: 100%;
}
.table-header {
  display: flex;
  font-weight: 700;
  border-bottom: 1px solid #ddd;
  position: sticky;
  top: 0;
  background-color: #fff;
}
.table-row {
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
}
.table-row-wrapper {
  display: flex;
}
.table-column {
  flex-grow: 1;
  padding: 15px 5px;
  width: 33.33%;
}

.alert {
  padding: 15px 40px 15px 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  position: relative;
}

.alert-success {
  background-color: #d4edda;
  border-color: #c3e6cb;
  color: #155724;
}

.alert-errors {
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: #721c24;
}

.alert-warning {
  background-color: #fff3cd;
  border-color: #ffeeba;
  color: #856404;
}

.alert .close {
  position: absolute;
  right: 20px;
  top: 15px;
  cursor: pointer;
}
.alert .close::before,
.alert .close::after {
  content: "";
  height: 15px;
  width: 2px;
  background: #333;
  display: block;
  position: absolute;
}
.alert .close::before {
  transform: rotate(45deg);
}
.alert .close::after {
  transform: rotate(-45deg);
}

.user-data {
  display: flex;
  justify-content: space-between;
}
.user-img {
  border-radius: 100%;
  object-fit: cover;
}
