@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
:root {
  --secondary: rgb(107, 114, 128);
  --primary: rgb(17, 24, 39);
  --bgSecondary: #0861f2;
}
* {
  box-sizing: border-box;
}
.relative {
  position: relative;
}
.secondary {
  color: var(--secondary);
}
body {
  font-family: "Open Sans", sans-serif;
  color: var(--primary);
  font-size: 16px;
  margin: 0;
  overflow-y: scroll;
}
a {
  color: var(--primary);
  text-decoration: none;
}
h2 {
  margin: 0 0 15px;
}
.main-wrapper {
  min-height: 100vh;
}
label {
  margin: 0 0 10px;
  display: block;
  color: #606770;
  font-weight: 700;
}
.form-item input,
.form-item textarea,
.form-item select {
  width: 100%;
  min-height: 30px;
  background-color: #f0f2f5;
  border: 0;
  padding: 15px 20px;
  border-radius: 10px;
  font-size: 18px;
  display: inline-block;
}
.form-item textarea {
  min-height: 300px;
}

.btn,
.actions a {
  padding: 15px 30px;
  border-radius: 15px;
  background: #d8dadf;
  color: #000;
  border-radius: 5px;
  display: inline-block;
  font-weight: 700;
  border: 0;
  font-size: 16px;
  cursor: pointer;
  margin: 0 0 15px;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
.w-full {
  width: 100%;
}
.form-item {
  margin-bottom: 15px;
}
.container {
  max-width: 940px;
  margin: 0 auto;
}
.box {
  padding: 15px;
  max-width: 940px;
  margin: 0 auto;
  background-color: #fff;
}
.head-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.table {
  margin: 0 auto;
  width: 100%;
}
.table-header {
  display: flex;
  font-weight: 700;
  border-bottom: 1px solid #ddd;
  position: sticky;
  top: 65px;
  background-color: #fff;
}
.table-row {
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
}
.table-row-wrapper {
  display: flex;
}
.table-column {
  flex-grow: 1;
  padding: 15px 5px;
  width: 33.33%;
}

.columns-4 .table-column {
  flex-grow: 1;
  padding: 15px 5px;
  width: 25%;
}
.bg-secondary {
  background-color: var(--bgSecondary);
  color: #fff;
}
.bg-white {
  background-color: #fff;
}

/*
 ** Header
 */

.header {
  width: 100%;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 5px 15px;
  align-items: center;
  z-index: 200;
  background-color: #fff;
  margin: 0 0 15px;
}
.header::after {
  content: "";
  display: block;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAAOBAMAAAD3WtBsAAAAFVBMVEUAAAAAAAAAAAAAAAAAAAAAAAD29va1cB7UAAAAB3RSTlMCCwQHGBAaZf6MKAAAABpJREFUCNdjSGNIY3BhCGUQBEJjIFQCQigAACyJAjLNW4w5AAAAAElFTkSuQmCC");
  height: 6px;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 111;
  left: 0;
}
.header img {
  user-select: none;
}

.header-toggle {
  position: relative;
}

.header-toggle:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  opacity: 0.2;
}

.header .dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  border-radius: 10px;
  box-shadow: rgb(0 0 0 / 20%) 0px 12px 28px 0px,
    rgb(0 0 0 / 10%) 0px 2px 4px 0px;
  min-width: 300px;
  z-index: 999;
  background-color: #fff;
  display: none;
}
.header .dropdown.show {
  display: block;
}
.header-toggle {
  cursor: pointer;
}
.header .dropdown svg {
  width: 43px;
  height: 43px;
  background-color: #d8dadf;
  border-radius: 100%;
  padding: 10px;
  margin-right: 15px;
}
.header .dropdown-item {
  padding: 5px 7px;
}
.header .dropdown a {
  user-select: none;
  padding: 6px 10px;
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 5px;
}
.header .dropdown a:hover {
  background-color: #f3f3f3;
}

.page-header {
  margin: 0 0 30px;
  font-size: 40px;
  color: #1c1e21;
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
}
/*
 ** Alerts
 */
.alert {
  padding: 15px 40px 15px 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  position: relative;
}

.alert-success {
  background-color: #d4edda;
  border-color: #c3e6cb;
  color: #155724;
}

.alert-errors {
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: #721c24;
}

.alert-warning {
  background-color: #fff3cd;
  border-color: #ffeeba;
  color: #856404;
}

.alert .close {
  position: absolute;
  right: 20px;
  top: 15px;
  cursor: pointer;
}
.alert .close::before,
.alert .close::after {
  content: "";
  height: 15px;
  width: 2px;
  background: #333;
  display: block;
  position: absolute;
}
.alert .close::before {
  transform: rotate(45deg);
}
.alert .close::after {
  transform: rotate(-45deg);
}

/*
 ** Cover
 */
.cover-img {
  object-fit: cover;
  width: 100%;
  height: 350px;
}

.cover-container {
  overflow: hidden;
  border-radius: 10px;
  background-color: #f3f3f3;
  min-height: 350px;
  width: 100%;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.cover-container svg {
  opacity: 0.3;
}

/*
 ** Edit
 */
.edit-cover {
  position: absolute;
  bottom: 15px;
  right: 15px;
}
.edit-cover svg {
  width: 20px;
  height: 20px;
}
.edit-cover a {
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  display: flex;
  align-items: center;
  padding: 7px 15px;
  border-radius: 6px;
  gap: 10px;
}

/*
 ** Navigation
 */

.navigation h1 {
  font-size: 36px;
  margin: 0;
}

/*
 ** User
 */
.user-data {
  display: flex;
  justify-content: space-between;
}
.user-photo {
  position: absolute;
  bottom: -100px;
  left: 40px;
  padding: 4px;
  border-radius: 100%;
  background-color: #fff;
}
.user-photo svg {
  position: absolute;
  bottom: 15px;
  width: 40px;
  height: 40px;
  right: 15px;
  background-color: #fff;
  padding: 7px;
  border-radius: 100%;
  cursor: pointer;
}
.user-photo svg path {
  fill: #000;
}
.user-img {
  border-radius: 100%;
  object-fit: cover;
  border: 1px solid rgba(0, 0, 0, 0.4);
}
.user-info {
  padding: 15px 15px 15px 230px;
  margin-bottom: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  min-height: 120px;
}
.user-actions {
  display: flex;
  justify-content: flex-end;
}
.user-role {
  background-color: #d3e4ff;
  padding: 5px 15px;
  border-radius: 15px;
  font-size: 12px;
  text-transform: uppercase;
  color: #0866ff;
}
.user-action-btn {
  padding: 10px 15px;
  border-radius: 15px;
  background: #d8dadf;
  color: #000;
  border-radius: 5px;
  display: inline-block;
  font-weight: 700;
}
.user-action-btn {
  display: flex;
  gap: 10px;
  align-items: center;
}
.user-action-btn::before {
  content: "";
  height: 15px;
  width: 15px;
  display: block;
  background-image: url(../assets/icons/pen-black.svg);
  background-size: 100%;
  background-position: center;
}

.user-taskbar img {
  display: block;
  margin: 0 auto;
  width: 300px;
  height: 196px;
  object-fit: contain;
}

.user-taskbar .row {
  display: flex;
  margin: 0 -15px;
  flex-wrap: wrap;
}
.user-taskbar .card {
  max-width: 50%;
  flex: 0 0 50%;
  width: 100%;
  margin-bottom: 30px;
  padding: 0 15px;
}
.user-taskbar h2 {
  margin: 10px 0 50px;
}
.user-taskbar h3 {
  font-size: 20px;
}
.user-taskbar a {
  background-color: #fff;
  display: block;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px -1px rgb(0 0 0 / 10%);
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  text-align: center;
  transition: all ease 0.3s;
}

.user-taskbar a:hover {
  background-color: #d3e4ff;
  transition: all ease 0.3s;
}
.user-tabs {
  padding-bottom: 15px;
  font-weight: 700;
}
.user-tabs a {
  color: #606266;
  user-select: none;
  padding: 15px 10px;
  display: inline-block;
  border-radius: 5px;
  min-width: 150px;
  text-align: center;
}
.user-tabs a:hover {
  background-color: #f3f3f3;
}
.user-tabs::after {
  content: "";
  display: block;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAAOBAMAAAD3WtBsAAAAFVBMVEUAAAAAAAAAAAAAAAAAAAAAAAD29va1cB7UAAAAB3RSTlMCCwQHGBAaZf6MKAAAABpJREFUCNdjSGNIY3BhCGUQBEJjIFQCQigAACyJAjLNW4w5AAAAAElFTkSuQmCC);
  height: 6px;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 111;
  left: 0;
}

/*
 ** Page
 */

.no-result {
  padding: 15px;
  text-align: center;
  background-color: #f3f3f3;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-user {
  background-color: #f0f2f5;
}
.page-user .header {
  margin-bottom: 0;
}
